<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand">NOVACODE HN</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#" > Panel Administrativo </a>

                </li>
                <li uib-dropdown>
                    <a href uib-dropdown-toggle> Accesos <span class="caret"></span></a>
                    <ul role="menu" uib-dropdown-menu>
                        <li><a ui-sref="security.control" ui-sref-active="cls_active" href="#">Usuarios</a></li>
                        <li><a href="#">Perfiles</a></li>
                        <li><a href="#">Grupos</a></li>
                    </ul>
                </li>
                <li uib-dropdown>
                    <a href uib-dropdown-toggle> Artículos <span class="caret"></span></a>
                    <ul role="menu" uib-dropdown-menu>
                        <li><a ui-sref="articles.control" ui-sref-active="cls_active" href="#">Historial</a></li>
                        <li><a href="#">Crear Articulo</a></li>
                        <li><a href="#">Cargar Infográfia</a></li>
                        <li><a href="#">Cargar Documento</a></li>
                    </ul>
                </li>
                <li uib-dropdown>
                    <a  href uib-dropdown-toggle> Clientes <span class="caret"></span></a>
                    <ul role="menu" uib-dropdown-menu>
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                    </ul>
                </li>
                <li uib-dropdown>
                    <a href uib-dropdown-toggle> Proyectos <span class="caret"></span></a>
                    <ul role="menu" uib-dropdown-menu>
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                    </ul>
                </li>



            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> Cerrar Sesión
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>